.main-comp{
  min-height: 100vh;
  margin: 0;
  width: 100vw;
  box-sizing: border-box;
  position: relative;
}
.flex {
  display:flex;
  justify-content: space-between;
}

.Cont-border {
  margin: 5vw 10vw;
  padding: 5vw;
  border: rgb(53, 53, 53) 1px solid ;
  height: auto;
  position:relative;
}
.Cont {
  margin: 5vw 15vw;
  padding: 0 5vw;
  border: rgba(53, 53, 53, 0) 1px solid ;
  height: auto;
  position:relative;
}
.Cont.prod {
  display: flex;
  justify-content: space-between;
  border-bottom: rgb(53, 53, 53) 1px solid ;
}
.Cont.prod h2 {
  position: relative;
  width: 100px;
}
.Cont.prod h2 *{
  position: absolute;
  bottom: 17%;
}
.Cont.prod h2 :first-child{
  right: 0;
}
.litIcon {
  color: deepskyblue;
}
.darkIcon {
  color: gray;
}
#grid-icon{
  /* color: gray; */
  cursor: pointer;
  height: 25px;
  width:25px;
}
#grid-icon path{
  pointer-events: none;
}
#list-icon path{
  pointer-events: none;
}
#list-icon{
  /* color: gray; */
  cursor: pointer;
  height: 25px;
  width:25px;
}

#empty{
  color: yellowgreen;
}


.Cont.products-flex{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5rem;
}
.Cont.products-grid{
  display: grid;
  grid-template-rows: repeat(3, 1fr) ;
  grid-template-columns: 1fr 1fr;
}
.Cont.products-grid .single-product {
  margin-left: 5%;
  margin-right: 5%;
}
.Cont.products-flex .single-product {
  margin-left: 5%;
  margin-right: 5%;
}
.single-product{
  padding: 0;
  border: 1px gray solid;
  max-width: 500px;
  margin-bottom: 50px;
}
.single-product :first-child{
  width: 100%;
}
.single-product h2{
  padding-left: 1em;
  margin-bottom: 0;
}
.img-wrap{
  margin: 0;
}
.img{
  margin: 0;
}
.single-product .desc-price{
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 0.8em 1em;
}
.product-name{
  margin-top: 0.25em;
}
.single-product .desc-price .desc{
  font-size: 0.8rem;
}
.single-product .desc-price .price{
  font-size: 1.2rem;
  padding-left: 0.35em;
  font-weight: 900;
  display: grid;
  place-items: center;
  border-left: 1px gray solid;
}
.Cont.home {
  margin-top: 20px;
}
.Cont-border.home {
  margin-bottom: 20px;
}
.Cont.home p{
  font-size: 1.25em;
}
.Cont.home :nth-child(3){
  display: grid;
  place-content: center;
  height: 100px;
  padding-bottom: 2.5rem;
}
.Cont.home p span{
  padding: 0.40em 2em;
  background-color: rgb(66, 68, 83);
  font-weight: 600;
  color: white;
  border-style: none;
  border: rgba(46, 43, 43, 0.294) 1px solid;
  border-radius: 4px;
  cursor: pointer;
}
.Cont.home p span:hover{
  background-color: rgba(66, 68, 83, 0.692);
}
.Cont.home p span .lnk{
  text-decoration: none;
  color: white;
}
.logo{
  position: relative;
  display: inline-block;
  font-weight: bold;
}
.logo:before{
  content: "";
  position: absolute;
  background-color: rgba(185, 14, 14, 0.904);
  left: 0.04em;
  top: 0.17em;
  width: 1.25em;
  height: 0.22em;
}
.nav{
  margin-right: 1.5em;
}
.nav span{
  cursor: pointer;
}
.nav-menu{
  position: fixed;
  color: rgb(31, 24, 24);
  top: 2.33em;
  right: 0;
  background-color: rgb(255, 255, 255);
  width: 500px;
  height: 100%;
  z-index: 50;

}
.nav-menu .nohead{
  margin: 0;
  padding: 0;
  padding-left: 2em;
}
.nav-menu .head{
  border-bottom: rgba(66, 68, 83, 0.534) 2px solid;
  color: black;
  padding-bottom: 1em;
  padding-top: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 1px 12px gray;
  width: 100%;
}

.nav-menu li{
  list-style: none;
  padding: 1em 0.5em 1em 0.5em;
  border-bottom: rgba(66, 68, 83, 0.534) 2px solid;
  color: rgb(41, 41, 209);
 
}
.lnk{
  text-decoration: none;
}
@media only screen and (max-width: 600px){
  .nav-menu{
    color: rgb(31, 24, 24);
    position: fixed;
    top: 2.33em;
    right: 0;
    background-color: rgb(255, 255, 255);
    padding: 0;
    width: 80%;
    height: 100%;
    z-index: 50;
  }
  body {
    overflow-y: scroll;
  }
}
.menu-mask{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 2.4em;
  right: 0;
  z-index: 40;
  background-color: rgba(0, 0, 0, 0.774);
}
.app-header{
  font-weight: bold;
  border-bottom: 2px solid rgb(26, 5, 5);
  padding: 1rem;
  background-color: rgb(66, 68, 83);
  color: white;
  margin-top: 0;
  width: 100%;
}
.app-header .logo {
  margin-left: 2em;
}

.foot{
  border-top: 2px solid rgb(26, 5, 5);
  padding: 1rem;
  font-weight: bold;
  position: absolute;
  background-color: rgb(66, 68, 83);
  color: white;
  margin: 0;
  bottom: 0;
  width: 100%;
  display: grid;
  place-content: center;
  z-index: 100;
}
